@model IEnumerable<MVCLibrary.DTO.BookDTO>
@{
    ViewData["Title"] = "Index";
}


<div class="card-header">

    <form method="post">

        <br /><br />
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table border="1" cellpadding="50" align="center">
            <tr>
                <th>عنوان</th>
                <th>نام نویسنده</th>
                <th>قیمت</th>
                <th>شناسه دسته بندی</th>
                <th>شناسه کتابخانه</th>
                <th colspan="4">عملیات</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.AuthorName</td>
                    <td>@item.Price</td>
                    <td>@item.CategoryId</td>
                    <td>@item.LibraryId</td>

                    <td>

                        @*  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                        @Html.ActionLink("ویرایش", "Edit", new { id = item.Id })
                    </td>
                    <td>
                        @Html.ActionLink("جزییات", "Details", new { id = item.Id })

                    </td>

                    <td>
                        @Html.ActionLink("حذف", "Delete", new { id = item.Id },new { onclick = "return confirm('آیا از حذف این مورد مطمئن هستید؟');" })
                    </td>

                </tr>
            }
        </table>
    </form>
</div>