@model IEnumerable<MVCLibrary.DTO.CategoryDTO>

<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>






    <form method="post">

        <br /><br />
        <table border="1" cellpadding="50" align="center">
            <tr>
                <th>شناسه دسته بندی</th>
                <th> عنوان دسته بندی</th>
              
                <th colspan="4">عملیات</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        @Html.ActionLink("ویرایش", "Edit", new { id = item.Id })
                    </td>
                    <td>
                        @Html.ActionLink("جزییات", "Details", new { id = item.Id })
                    </td>

                    <td>
                        @Html.ActionLink("حذف", "Delete", new { id = item.Id },new { onclick = "return confirm('آیا از حذف این مورد مطمئن هستید؟');" })
                    </td>

                </tr>
            }
        </table>
    </form>


</body>
</html>


